body {
    background-image: url(../images/backgroundImg.jpg);
    /*Photo by Arnesh Yadram from Pexels*/
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: 100%;
    width: 80%;
    margin: 0 auto; 
    color: white;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin-top: 136px;
    margin-bottom: 5px;
}

p {
    font-size: 26px;
    margin-bottom: 5px;
}